* {
    padding: 0px;
    margin: 0px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px 0px;
}

#twitter a {
    font-family: var(--Font-family);
    color: var(--username-color);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.twitter-container {
    padding: 10px 30px 10px 0px;
}

.profiles {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 180px;
    padding-top: 50px;
}

.back {
    padding-left: 80px;
}

.profile__img__container {
    display: flex;
    padding-left: 80px;
}

.profiles-sub {
    padding-right: 150px;
}

@media (max-width:720px) {
    .back-container {
        padding-left: 70px;
    }
    .profile__img__container {
        padding-left: 225px;
    }
    .back {
        background-image: url("../images/Type=more, State=Default.png");
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
    }
    .wo {
        display: none;
    }
}

.slack-usernamecont {
    display: none;
}